In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(101)

In [3]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [4]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [5]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [6]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [7]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [8]:
type(df['W'])

pandas.core.series.Series

In [9]:
type(df.loc['A'])

pandas.core.series.Series

In [10]:
df['new']=df['W']+df['X']

In [11]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [13]:
df.drop('new',axis=1,inplace=True)

In [14]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [15]:
df.drop('D',axis=0,inplace=True)

In [16]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509

In [18]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [20]:
df.iloc[0]

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [21]:
df.loc['A','W']

np.float64(2.706849839399938)

In [22]:
df.loc[['A','B'],['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318

In [23]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509

In [24]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
E   True   True   True   True

In [25]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
E  0.190794  1.978757  2.605967  0.683509

In [29]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
E  0.190794  1.978757  2.605967  0.683509

In [36]:
df[df['W']>0]['W']

A    2.706850
B    0.651118
E    0.190794
Name: W, dtype: float64

In [35]:
df[df['W']>0][['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
E  0.190794  1.978757

In [40]:
df[(df['W']>0) & (df['Y']>1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [41]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     E  0.190794  1.978757  2.605967  0.683509

In [42]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509

In [43]:
df.set_index('Z')

                  W         X         Y
Z
 0.503826  2.706850  0.628133  0.907969
 0.605965  0.651118 -0.319318 -0.848077
-0.589001 -2.018168  0.740122  0.528813
 0.683509  0.190794  1.978757  2.605967

In [44]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [45]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [46]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [47]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [48]:
import pandas as pd
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [49]:
df = pd.DataFrame(data)

In [50]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [56]:
newdf=df.groupby("Company")

In [62]:
newdf.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [61]:
import pandas as pd

# Create dataframe
data = {
    'Company': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
    'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
    'Sales': [200, 120, 340, 124, 243, 350]
}

df = pd.DataFrame(data)

# Group by 'Company' and calculate the mean for numeric columns, retaining the DataFrame structure
mean_sales_df = df.groupby("Company", as_index=False)['Sales'].mean()

print(mean_sales_df)

  Company  Sales
0      FB  296.5
1    GOOG  160.0
2    MSFT  232.0

In [64]:

import pandas as pd

data = {
    'Company': ['FB', 'FB', 'GOOG', 'GOOG', 'MSFT', 'MSFT'],
    'Sales': [200, 150, 120, 130, 450, 380]
}
df = pd.DataFrame(data)
by_comp = df.groupby('Company')
print(by_comp.std())

             Sales
Company
FB       35.355339
GOOG      7.071068
MSFT     49.497475